/*start verible*/
:root {
    --main-color: #19c8fa;
    --main-backgroun-color: rgb(15 116 143 / 70%);
    --padding: 100px ;
    --section-padding: 100px;
}
/*end verible*/
/*start ruls*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
}

.contaner {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .contaner {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .contaner {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .contaner {
        width: 1170px;
    }
}

/*end ruls*/
/*start nav*/
.headr {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

.headr .contaner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.headr .contaner::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 100%;
    width: calc(100% - 30px);
    height: 1px;
    background-color: rgb(255, 255, 255);

}

.headr nav {
    flex: 1;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}

.headr nav .toggle-menu {
    font-size: 25px;
    color: white;
}

@media (min-width:768px) {
    .headr nav .toggle-menu {
        display: none;
    }

    .headr nav ul {
        display: flex;
    }
}

@media(max-width:768px) {
    .headr .contaner nav ul {
        display: none;
    }

    .headr .contaner nav .fa-bars:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #000000a6;
    }

    .headr .contaner nav ul li a {
        padding: 15px !important;
    }
}

.headr nav ul {
    display: flex;
    z-index: 2;
}

.headr a {
    display: block;
    padding: 40px 10px;
}

.headr nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    position: relative;

}

.headr nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    position: relative;
    top: 9px;
}

.headr nav .form {
    border-left: 1px solid white;
    margin-left: 30px;
    height: 50px;
    margin-right: 0;
}

.headr nav .form i {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*end nav*/
/*start landing*/
.landing {
    background-color: rgba(0, 0, 0, 0.667);
    background-image: url(../vendors/image/landing.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
}
.landing .bullts ul li:first-child{
    content: "";
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background-color: var(--main-color);
}
.landing .bullts ul li:nth-child(2) {
    content: "";
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    margin-left: -35px;
}
.landing .bullts ul li:last-child {
    content: "";
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    margin-left: 35px;
}
.landing .overlay {
    background-color: rgba(13, 13, 13, 0.52);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.landing .content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--main-backgroun-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
.fa-angle-left:before {
    content: "\f104";
    position: relative;
    left: -356px;
    top: 50%;
}
.fa-angle-right:before {
    content: "\f105";
    position: relative;
    left: 1490px;
    top: 50%;
}
@media(max-width:1350px){
    .fa-angle-left:before {
        content: "\f104";
        position: relative;
        left: -90px;
        top: 50%;
    }
    .fa-angle-right:before {
        content: "\f105";
        position: relative;
        right: -1200px;
        top: 50%;
    }
}
.landing .text {
    max-width: 500px;
}

.landing .text h3 {
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 50px;
}

.landing .text p {
    font-size: 15px;
    line-height: 2;

}

@media (max-width: 1205px) {
    .landing .text h3 {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .landing .text p {
        font-size: 10px;
        line-height: 2;

    }

    .landing .text {
        max-width: 200px;
    }
}

@media (max-width: 1205px) {
    .landing .text h3 {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .landing .text p {
        font-size: 10px;
        line-height: 2;

    }

    .landing .text {
        max-width: 300px;
    }
}

@media (max-width: 780px) {
    .landing .text h3 {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 17px;
    }

    .landing .text p {
        font-size: 9px;
        line-height: 2;

    }

    .landing .text {
        max-width: 230px;
    }
}

@media (max-width: 325px) {
    .landing .text h3 {
        font-size: 5px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .landing .text p {
        font-size: 2.5px;
        line-height: 2;

    }

    .landing .text {
        max-width: 50px;
    }
}

/*end landing*/
/*start services*/
/*start heading*/
.services {
    margin-top: 50px;

}
.contaner .text {
    text-align: center;
    line-height: 3;
}
.contaner .text h3 {
    font-size: 50px;
    font-weight: normal;
    position: relative;
}
.contaner .text h3::before {
    content: "";
    position: absolute;
    border: 2px solid #333;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 83%;
    background-color: white;
}
.contaner .text h3::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    background-color: #333;
    height: 4px;
    z-index: -1;
}
.contaner .text p {
    font-size: 20px;
    color: rgba(131, 131, 132, 0.932);
    line-height: 1.5;
    margin-top: 20px;
}
@media (max-width: 800px) {
    .contaner .text p {
        font-size: 10px;
    }
}

/*end heading*/
/*strat content-services*/
.services .contaner .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    grid-gap: 150px;
    margin-top: 25px;
    margin-bottom: 80px;
}

.services .contaner .content .ser-text i {
    margin-left: -20%;
    position: relative;
    top: 80px;
    color: black;
}

.services .contaner .content .ser-text {
    line-height: 30px;
}

.services .contaner .content .ser-text h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 90px;
    color: var(--main-color);
}

@media (max-width: 1200px) {
    .services .contaner .content .ser-text i {
        text-align: center;
        top: 0px;
        left: 91px;
    }

    .services .contaner .content {
        text-align: center;
        margin-top: 50px;
    }

    .services .contaner .content .ser-text h3 {
        text-align: center;
    }
}

/*end content-services*/
/*end services*/
/*start Design*/
.desgin{
    background-image:url(../vendors/image/design-features.jpg) ;
    background-size: cover;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
    position: relative;
    height: 600px;
    overflow: hidden;
    
    display: flex;
}
.desgin::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(56 46 46 / 40%);
}
.desgin .contaner .image{
    position: relative;
    top: 30%;
    left:20px;
}
.desgin .contaner .text{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--main-backgroun-color);
    color: white;
    display: block;
    justify-content: flex-end;
    line-height: 3;
}
.desgin .contaner .text h2{
    text-align: left;
}
.desgin .contaner .text ul li{
    text-align: left;
}
.desgin .contaner .text ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
@media (max-width:1200px){
    .desgin .contaner .image{
        position: relative;
        top: 30%;
        left: 50px;
    }
}
@media (max-width:1000px){
    .desgin .contaner .image{
    display: none;
    }
}
/*end Design*/
/*start Protfolio*/
.protfolio .contaner nav ul {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.protfolio .contaner nav ul li{
    margin: 10px;
    font-size: 20px;
    align-items: center;
    padding: 15px;
}
.protfolio .contaner nav ul .active{
    background-color: var(--main-color);
    padding: 15px;
    color: white;
    border-radius: 3px;
}
/*start__image*/
.image__content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}
.image__content .box img{
    width: 100%;
    transition: 0.3s;
    height: 400px;
    
}
.image__content .box{
    flex-basis: 25%;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.image__content .box .caption {
    position: absolute;
    left: 0;
    padding: 10px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
  }
.image__content .box:hover .caption{
    bottom: 0;
    z-index: 2;
}
.image__content .box:hover img {
    transform: rotate(4deg) scale(1.1);
}

.image__content .box .caption h4{
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 10px;
}
.image__content .box .caption p{
    font-size: 15px;
    color: var(--main-color);
}
@media (min-width: 768px) {
     .image__content .box {
      flex-basis: 50%;
    }
  }
  @media (min-width: 1199px) {
    .image__content .box {
      flex-basis: 25%;
    }
  }
.protfolio .more{
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    margin: 30px auto;
    width: fit-content;
    border-radius: 3px;
    display: block;
    margin-top: 100px;
}
/*end Protfolio*/
/* start video */
.sec__img{
    width: 100%;
    height:600px;
    position: relative;
    margin-top: 80px;
}
.sec__img img{
    width: 100%;
    height: 500px;
    position: relative;
    z-index: -2;
}
.sec__img .overlay{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.528);
}
.img__text{
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: var(--main-backgroun-color);
    top: 45%;
    transform: translateY(-50%);
}
.img__text h2{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-weight: normal;
}
.img__text p{
    text-align: center;
    margin-top: 10px;
    color: white;
}
.img__text button{
    margin-left: 47%;
    background-color: rgb(0, 113, 218);
    color: white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border-color: rgb(0, 113, 218);
}
/* end video */
/* start about us */
.about{
    overflow: hidden;
    height: 550px;
}
.about .contaner img{
    margin-top: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
}
/* end about us */
/* start stats */
.stats{
    background-image: url(../vendors/image/stats.png);
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}
.stats .opacty{
    background-color: rgba(0, 0, 0, 0.52);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.stats .contaner{
    position: absolute;
    display: flex;
    background-color: var(--main-backgroun-color);
    width: 90%;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    height: 300px;
}
.stats .contaner .box {
    text-align: center;
    margin: 60px;
    line-height: 2;
    color: white;
}
.stats .contaner .box i{
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 2.2;
}
.stats .contaner .box .number{
    font-weight: 800;
    font-size: 50px;
}
.stats .contaner .box p{
    font-weight: 800;
    font-size: 20px;
}
@media (max-width:1000px){
    .stats .contaner .box {
        margin: 30px;
    }
    .stats .contaner .box p{
        font-size: 10px;
    }
    .stats .contaner .box .number{
        font-size: 20px;
    }
}
@media (max-width:700px){
    .stats .contaner .box {
        margin: 20px;
    }
    .stats .contaner .box p{
        font-size: 10px;
    }
    .stats .contaner .box .number{
        font-size: 20px;
    }
}
@media (max-width:500px){
    .stats .contaner .box {
        margin: 10px;
    }
    .stats .contaner .box p{
        font-size: 10px;
    }
    .stats .contaner .box .number{
        font-size: 20px;
    }
}
@media (max-width:300px){
    .stats .contaner .box {
        margin: 5px;
    }
    .stats .contaner .box p{
        font-size: 10px;
    }
    .stats .contaner .box .number{
        font-size: 20px;
    }
}
/* end stats */
/* start skills */
/*start col1*/
.col{
    line-height: 2;
}
.skill{
    margin-top: 90px;
}
.skill .contaner{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 80px;
}
.skill .contaner .col .skill__text{
    line-height: 2;
    text-align: center;
}
.skill .contaner .col .skill__text h3{
    font-size: 30px;
    font-weight: normal;
}
.skill .contaner .col .skill__text p{
    font-size: 15px;
    color: #333;
}
.skill .contaner .col .skill__content{
    display: flex;
    margin-bottom: 10px;
}
.skill .contaner .col .skill__content img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 30px;
    margin-top: 10%;
}

.skill .contaner .col .skill__content .skill__content__text p{
    margin-top: 10%;
    margin-left: 323px;
}
.skill .contaner .col .skill__content .skill__content__text h3{
    margin-top: 30px;
    color: #333;
    font-size: 20px;
    font-weight: normal;
}
.skill .contaner .col ul{
    display: flex;
    margin-top: 54px;
    margin-left: 50%;
}
.skill .contaner .col li{
    border: 1px solid rgb(110, 109, 109);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.skill .contaner .col ul .active{
    background-color: #19c8fa;
}
/*end col1*/
.skill__content__body{
    line-height: 2;
}
.skill__content__body .skill__content__text .text1{
margin-top: 10px;
color: rgb(118, 117, 117);
font-weight: normal;
}
.skill__content__body .skill__content__text .text1 .overlay{
width: 100%;
height: 30px;
background-color: rgb(140, 140, 140);
margin-top: 20px;
}
.skill__content__body .skill__content__text .text1 .overlay .overlay__{
    width: 75%;
    background-color: #19c8fa;
    height: 30px;
}
.skill__content__body .skill__content__text .text1 .overlay .overlay__1{
    width: 65%;
    background-color: #19c8fa;
    height: 30px;
}
.skill__content__body .skill__content__text .text1 .overlay .overlay__2{
    width: 55%;
    background-color: #19c8fa;
    height: 30px;
}
.skill__content__body .skill__content__text .text1 .overlay .overlay__3{
    width: 45%;
    background-color: #19c8fa;
    height: 30px;
}
.skill__content__body .skill__content__text .text1 .overlay .overlay_{
    position: relative;
}
.skill__content__body .skill__content__text .text1 .overlay .overlay__ span{
    position: absolute;
    top: -45px;
    left: 97%;
    color: #fff;
}
.skill__content__body .skill__content__text .text1 .overlay .overlay__1 span{
    position: absolute;
    top: -44px;
    left: 97%;
    color: #fff;
}
.skill__content__body .skill__content__text .text1 .overlay .overlay__2 span{
    position: absolute;
    top: -44px;
    left: 96%;
    color: #fff;
}
.skill__content__body .skill__content__text .text1 .overlay .overlay__3 span{
    position: absolute;
    top: -44px;
    left: 96%;
    color: #fff;
}

.skill__content__body .skill__content__text .text1 .overlay .overlay_::before{
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
    height: 17px;
} 
.skill__content__body .skill__content__text .text1 .overlay .overlay_::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -6px;
    top: -15px;
}

/* end skills */
/* start desgin1 */
    .desgin_{
        position: relative;
        margin-top: 30px;
        background-image: url(../vendors/image/quote.jpg);
        width: 100%;
        height: 400px;
        background-size: cover;
    }
    .desgin_ .overlay{
        position: absolute;
        width: 100%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.807);
        z-index: 1;
    }
    .desgin_ .design__text{
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        left: 50%;
        z-index: 1;
    }
    .desgin_ .design__text h3{
        font-size: 30px;
        color: white;
        line-height: 1.5;
        margin-bottom: 30px;
        font-weight: normal;
    }
    .desgin_ .design__text p{
        font-size: 25px;
        color: white;
        font-weight: normal;
    }
/* end desgin1 */
/* start pricing */
.pricing{
    margin-top: 50px;
    margin-bottom: 50px;
}
.pricing .contaner .bay{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 30px;
    margin-top: 50px;
}
.pricing .contaner .bay .bay__text .bay__text__head span{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    line-height: 2.5;
    font-weight: normal;
    margin-bottom: 50px;
}
.pricing .contaner .bay .bay__text .bay__text__head h3{
    font-size: 40px;
    font-weight: normal;
    position: relative;
}
.pricing .contaner .bay .bay__text .bay__text__head h3::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #19c8fa;
    position: absolute;
    top: -30px;
    left: 0;
}
.pricing .contaner .bay .bay__text .bay__text__head h3::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #19c8fa;
    position: absolute;
    top: 358%;
    left: 0;
}
.pricing .contaner .bay .bay__text .bay__text__head span::before{
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
}
.pricing .contaner .bay .bay__text .bay__text__head span::after{
    content: "/Mo";
    position: relative;
    font-size: 25px;
    top: 30px;
    font-weight: 900;
}
.pricing .contaner .bay .bay__text ul{
    line-height: 3.5;
    margin-top: 20px;
}
.pricing .contaner .bay .bay__text ul li{
    position: relative;
}
.pricing .contaner .bay .bay__text ul li::after{
    content: "";
    position: absolute;
    background-color: #19c8fa;
    width: 100%;
    height: 1px;
    left: 0;
    top: 90%;
    margin-top: 1px;
}
.bay{
    text-align: center;
}
.pricing .contaner .bay .bay__text .foot{
    margin-top: 27px;
    border: 1px solid #19c8fa;
    width: 50%;
    height: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.pricing .contaner .bay .bay__text .foot a{
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: #213a41;
    display: block;
    padding: 11px;
}
.login{
    text-align: center;
    margin-top: 60px;
    line-height: 3.5;
}
.login h3{
    font-size: 29px;
    color: #213a41;
    font-weight: normal;
}
.login a{
    border: 1px solid #ffffff;
    background-color: #22b1d9;
    padding: 15px 41px;
    text-decoration: none;
    color: black; 
}
/* end pricing */
/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../vendors/image/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
    height: 250px;
  }
  .subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  .subscribe .contaner {
    position: relative;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (max-width: 991px) {
    .subscribe .contaner {
      flex-direction: column;
    }
  }
  .subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
  }
  .subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
  }
  .subscribe form input[type="email"] {
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
  }
  .subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
  }
  .subscribe form input[type="email"]:focus,
  .subscribe form input[type="submit"]:focus {
    outline: none;
  }
  .subscribe form ::placeholder {
    color: white;
  }
  .subscribe p {
    line-height: 2;
    margin-left: 50px;
  }
  @media (max-width: 991px) {
    .subscribe p {
      margin: 30px 0 0;
    }
  }
/* end Subscribe */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
  .contact .content {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .contact .content {
      flex-direction: column;
    }
  }
  .contact .content form {
    flex-basis: 70%;
  }
  .contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
  }
  .contact .content form .main-input:focus {
    outline: none;
  }
  .contact .content form textarea.main-input {
    height: 200px;
  }
  .contact .content form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
  }
  .contact .content .info {
    flex-basis: 25%;
  }
  @media (max-width: 767px) {
    .contact .content .info {
      order: -1;
      text-align: center;
    }
  }
  .contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
  }
  .contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
  }
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
  }
  @media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
      margin-top: 30px;
    }
  }
  .contact .content .info address {
    color: #777;
    line-height: 2;
  }
  @media (max-width: 767px) {
    .contact .content .info address {
      margin-bottom: 40px;
    }
  }
  /* End Contact */
  /* Start Footer */
  .footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url("../vendors/image/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
  }
  .footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  }
  .footer .container {
    position: relative;
  }
  .footer img {
    margin-bottom: 20px;
  }
  .footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
  }
  .footer .social-icons i {
    padding: 10px 15px;
  }
  .footer .copyright {
    margin-top: 60px;
  }
  .footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
  }
  /* End Footer */